@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {

    background: rgb(109,109,109);
    background: -moz-linear-gradient(0deg, rgba(109,109,109,1) 0%, rgba(173,173,173,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(109,109,109,1) 0%, rgba(173,173,173,1) 100%);
    background: linear-gradient(0deg, rgba(109,109,109,1) 0%, rgba(173,173,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d6d6d",endColorstr="#adadad",GradientType=1);

}

audio {

    visibility: hidden !important;
    z-index: -10;
    position: absolute;

}

.item p {

    text-align: justify !important;

}

.second-item {

    margin-top: -80px;

}

.third-item {

    margin-top: 50px;

}

.fourth-item {

    margin-top: 120px;

}

.time-line {

    background-color: transparent !important;
    height: 2500px !important;

}

.main-menu {

    background-color: #f0f0f048;
    background-image: url('../assets/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: overlay;
    height: 80px;
    width: 100%;
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
    backdrop-filter: blur(36px);

    .menu-icon {

        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 8px;
        border-radius: 12px;
        display: none;

        @media screen and (max-width: 768px) {

            display: block;

        }

    }

    ul {

        display: flex;
        gap: 42px;

        span {

            display: none;

        }

        li {

            position: relative;

            a {

                color: white;
                text-transform: uppercase;
                font-weight: 100;
                font-family: 'Raleway', sans-serif;
                position: relative;
                font-size: 14px;
                letter-spacing: 1px;

                &::after {

                    width: 100%;
                    height: 1px;
                    background-color: white;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    transition: .2s;

                }

                &:hover {

                    &::after {

                        opacity: 1;
                        bottom: -10px;

                    }

                }

                &.active::after {

                    opacity: 1;
                    bottom: -10px;

                }

            }

        }

        @media screen and (max-width: 768px) {

            width: 60vw;
            height: 100vh;
            overflow-y: scroll;
            background-color: rgb(255, 255, 255);
            flex-direction: column;
            gap: 0;
            position: absolute;
            top: 0;
            right: -100vw;
            padding-top: 80px;
            transition: .2s ease-in-out;

            &::after {

                width: 40vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.596);
                backdrop-filter: blur(32px) !important;
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: -40vw;

            }

            &.open {

                right: 0;

            }

            span {

                background-color: rgba(255, 255, 255, 0.2);
                padding: 8px;
                border-radius: 12px;
                display: block;
                position: absolute;
                top: 20px;
                right: 40px;

            }

            li {

                text-align: center;
                position: relative;

                a {

                    color: black;
                    width: 100%;
                    font-weight: 500;
                    display: block;
                    padding: 32px 0;

                }

            }

        }

    }

    .chronicals:hover {

        #chronicalsMenu {

            top: -25px;
            opacity: 1;
            z-index: 100;

        }

    }

    #chronicalsMenu {

        width: 250px;
        position: absolute;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(32px);
        gap: 25px;
        padding: 24px;
        top: -500px;
        left: -86px;
        text-align: center;
        opacity: 0;
        z-index: -100;
        transition: .4s ease-in-out;
        border-radius: 12px;

        li {

            transition: .2s ease-in-out;

        }

        li:hover {

            color: white !important;
            transform: scale(1.05) !important;

        }

        a::after {

            display: none !important;

        }

        @media screen and (max-width: 425px) {

            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
            width: 60vw;
            height: fit-content;
            position: static !important;

        }

    }

    @media screen and (max-width: 768px) {


    }

}

.main-button {

    color: white;
    background-color: #1b1b1b;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 12px 60px;
    border-radius: 6px;
    transition: .2s ease-in-out;

    &:hover {

        background-color: #3a3a3a;

    }

}

.main-content {

    .intro-section {

        background-color: rgb(66, 66, 66);
        background-blend-mode: overlay;
        background-image: url('../assets/home.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 300px 0;

        h1, h2 {

            color: white;
            margin: 0 auto;
            text-transform: uppercase;

        }

        h1 {

            font-family: 'Staatliches', cursive;
            font-size: 82px;
            margin-bottom: 42px;

        }

        h2 {

            font-size: 40px;
            font-weight: 100;
            font-family: 'Raleway', sans-serif;

        }

        @media screen and (max-width: 425px) {

            h1 {

                font-size: 32px;

            }

            h2 {

                font-size: 24px;
                text-align: center;

            }

        }

    }

    .caps {

        margin-block: 132px;

        .intro-text {

            max-width: 1200px;
            color: white;
            font-weight: 100;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            font-size: 24px;
            margin: 0 auto 100px;

        }

        .preview {

            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            transition: .2s ease-out;
            padding-bottom: 30px;

            &:hover {

                transform: translateY(-10px);

            }

            img {

                width: 100%;
                height: 316px;
                object-fit: cover;

            }

            h1, p {

                text-align: center;

            }

            h1 {

                font-family: 'Staatliches', cursive;
                text-transform: uppercase;
                font-size: 20px;
                margin: 0;

            }

            p {

                font-weight: 100;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                line-height: 20px;
                height: 100px;

            }

            .main-button {

                width: fit-content;
                margin: 12px auto;

            }

        }

    }

    .staff {

        position: relative;
        height: 500px;

        &::after {

            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background-color: #A7A7A7;
            position: absolute;
            top: 180px;

        }

        h1 {

            color: white;
            font-family: 'Staatliches', cursive;
            margin-bottom: 48px;

        }

        .section-title {

            font-size: 50px;
            font-family: 'Staatliches', cursive;
            letter-spacing: 20px;
            text-align: center;
            margin-top: 147px;

        }

        .staff-slide {

            width: 266px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            @media screen and (max-width: 768px) {

                width: 100%;

                p {

                    padding-inline: 20px;

                }

            }

            img {

                width: 160px;
                height: 160px;
                object-fit: cover;
                border-radius: 50%;

            }

            h1, h2, p {

                color: white;
                margin: 0;

            }

            h2 {

                font-weight: 500 !important;
                font-size: 14px !important;
                text-align: center;
                margin-bottom: 20px;

            }

            h2, p {

                font-family: 'Raleway', sans-serif;
                font-weight: 100;

            }

            h1 {

                font-size: 24px;
                position: relative;

                &::after {

                    background-color: white;
                    content: '';
                    width: 82px;
                    height: 1px;
                    display: block;
                    position: absolute;
                    left: calc(50% - 41px);

                }

            }

            h2 {

                font-size: 18px;

            }

            p {

                font-size: 16px;
                line-height: 22px;
                text-align: center;

            }

        }

    }

}

i {

    font-style: italic !important;

}

figcaption {

    text-align: right;

}

.audio {

    margin: 32px auto !important;

}

footer {

    position: relative;
    background-color: #101010;
    background-image: url('../assets/footer-background.jpg');
    background-blend-mode: overlay;
    padding: 100px 40px;

    .footer-title {

        color: #868585;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        text-align: center;

    }

    main {

        max-width: 900px;
        margin: 0 auto;
        display: flex;

        section {

            width: 20%;
            display: flex;
            flex-direction: column;

            h1, h2 {

                font-size: 42px;
                font-family: 'Staatliches', cursive;
                text-align: center;
                margin: 0;

            }

            h1 {

                color: #868585;

            }

            h2 {

                color: #B14345;
                margin-bottom: 32px;

            }

            .social {

                color: #868585;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;

                img {

                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    margin-right: 8px;

                }

            }

        }

        @media screen and (max-width: 425px) {

            flex-direction: column;
            gap: 42px;

            section { width: 100%; }

        }

    }

}

@media screen and (max-width: 425px) {

    .full-header {

        height: fit-content !important;
        display: flex;
        flex-direction: column;

        h1 {

            position: inherit !important;
            padding-bottom: 50px;
            text-align: center;

        }

        h2 {

            position: inherit !important;

        }

    }

    .time-line {

        height: fit-content !important;
        display: flex;
        flex-direction: column;
        gap: 100px;

        * {

            position: static !important;
            width: 100% !important;
            height: fit-content !important;
            border: none !important;
            margin: 0 !important;
            text-align: left !important;

        }

        div {

            display: flex;
            flex-direction: column;
            gap: 12px;

        }

    }

}