@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body {
  background: #DFDFDF;
}

.restart {
  border: none !important;
  background-color: #1b1b1b;
}

.restart:focus {
  background-color: #1b1b1b !important;
}

i {
  font-style: italic;
}

.main-quiz {
  min-height: 100vh;
  padding-top: 200px;
  margin-bottom: 200px;
  top: 100px;
}

.main-quiz .progress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main-quiz .progress-wrapper .progress {
  background-color: #75787e36;
  height: 18px;
  border-radius: 32px;
  margin: 0;
}

.main-quiz .progress-wrapper .progress .determinate {
  background-color: #77cee9;
  border-radius: 32px;
}

.main-quiz .progress-wrapper .progress-overview {
  font-size: 24px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  color: #868585;
}

.main-quiz .progress-wrapper .progress-overview b {
  color: #839FA8;
}

.main-quiz .question, .main-quiz .choices {
  margin-top: 48px;
}

.main-quiz .question {
  color: #868585;
  font-size: 32px;
  margin-top: 72px;
}

.main-quiz button {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  padding: 30px 0;
  line-height: 0;
}

.main-quiz .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.main-quiz .choices button {
  width: 50%;
}

.main-quiz .choices .true {
  background-color: #86A086;
}

.main-quiz .choices .false {
  background-color: #C06A6B;
}

@media screen and (max-width: 425px) {
  .main-quiz .choices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-quiz .choices button {
    width: 100%;
  }
}

.main-quiz #quizFinished {
  display: none;
}

.main-quiz #quizFinished h1 {
  font-size: 42px;
  font-family: 'Staatliches', cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #8CACB6;
  border-bottom: 2px solid #8CACB6;
}

.main-quiz #quizFinished span {
  color: #86A086;
  text-align: center;
  width: 100%;
  font-size: 72px;
  margin-bottom: 32px;
}

.main-quiz #quizFinished button {
  color: white;
  width: 100%;
  background-color: #86a086c2;
  border: 2px solid #86A086;
}

.main-quiz #feedback #justification {
  color: #868585;
  font-size: 20px;
  margin: 20px 0 40px;
}

.main-quiz #feedback .true {
  color: #86A086;
  border-bottom: 2px solid #86A086;
}

.main-quiz #feedback .false {
  color: #C06A6B;
  border-bottom: 2px solid #C06A6B;
}

.main-quiz #feedback #result {
  font-size: 42px;
  font-family: 'Staatliches', cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 72px auto;
}

.main-quiz #feedback button {
  margin-top: 30px;
  padding: 30px 24px;
  float: right;
}

@media screen and (max-width: 425px) {
  .main-quiz {
    position: inherit;
  }
}
/*# sourceMappingURL=quiz.css.map */